extends templates/layout.pug

block vars
  - 
    var 
      title = 'Бренды',
      logged = true; 

block content 
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span Бренды
        .order-total-info
          span Текущий заказ:
          strong 105 924  ₽
          a(href="#") оформить 
      .heading-block
        h1.h.h4 Бренды
      .brand-top-filter
        .select-item
          .label Назначение
          .select
            select.style1
              option Парикмахерам
              option Парикмахерам
              option Парикмахерам
        .switcher
          .label Показывать
          a(href="#").button-style1
            span С логотипами
          a(href="#").button-style1.active
            span Только названия
        .search-form
          input(type="text" placeholder="Найти бренд").input
          button.submit.base-icon-search
      .brand-rows
        .row
          .col-12.col-md-3
            .letter A
          - n = 0;
          while n < 3
            - n++;
            .col-12.col-md-3
              - n2 = 0;
              while n2 < 6
                - n2++;
                .item-label
                  a(href="#") Aravia Professional 
                    span Россия
        .row
          .col-12.col-md-3
            .letter b
          - n = 0;
          while n < 3
            - n++;
            .col-12.col-md-3
              - n2 = 0;
              while n2 < 6
                - n2++;
                .item-label
                  a(href="#") Aravia Professional 
                    span Россия
        .row
          .col-12.col-md-3
            .letter c
          - n = 0;
          while n < 3
            - n++;
            .col-12.col-md-3
              - n2 = 0;
              while n2 < 6
                - n2++;
                .item-label
                  a(href="#") Aravia Professional 
                    span Россия



