extends templates/layout.pug

block vars
  -
    var
      title = 'Контакты',
      logged = true;

block content
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span Контакты
      .heading-block
        h1.h.h4 Контакты
      .row
        .col
          .contact-block
            strong Центральный офис:
            span.font-weight-normal  Москва, Зеленоград, Георгиевский проспект, д.5
          .contact-block
            strong  Тел.:
            a(href="tel: 74957390780")  7 (495) 739 07 80
            |  доб. 227
          .contact-block
            strong  Факс:
            a(href="tel: 74957393910")  7 (495) 739 39 10
          .contact-block
            strong Написать письмо:
            a(href="mailto:info-stalker@mirlk.ru")
              strong  info-stalker@mirlk.ru
          .free-space(style="height: 55px")
          .contact-block
            strong Служба клиентов
            span.font-weight-normal.city  г. Москва
            a(href="tel: 84957390780")  8 (495) 739 07 80
            |  доб. 127
          .contact-block
            strong Служба клиентов
            span.font-weight-normal.city  Московская Область
            a(href="tel: 84957390780")  8 (495) 739 07 80
            |  доб. 436, 464, 219, 129, 106, 529
          .contact-block
            strong Служба клиентов
            span.font-weight-normal.city  Регионы
            a(href="tel: 84957390780")   8 (495) 739 07 80
            |  доб. 124, 102
          .contact-block
            strong Мы работаем в будние дни с 10.00 до 18.00.:
            a(href="mailto:info-stalker@mirlk.ru")
              strong  info-stalker@mirlk.ru
          .free-space(style="height: 30px")
        .d-flex.col-12.col-md-4.col-lg-5
          .map-block
            #map










