extends templates/layout.pug

block vars
  - 
    var 
      title = 'График поставок',
      logged = true; 

block content 
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span График поставок
        .order-total-info
          span Текущий заказ:
          strong 105 924  ₽
          a(href="#") оформить 
      .heading-block
        h1.h.h4 График поставок
      .text-t3(style="margin-top: -15px;")
        p Доставка заказов осуществляется по "графику". Заказы отправленные до 17.00, доставляются на следующий день. Заказы отправленные после 17.00, доставляются через день, в соответствии с графиком доставки.
      .text-t2(style="margin-bottom: 65px;")
        p Доставка товара по Москве, осуществляется в течение <strong>1-2 дней</strong>.

      .delivery-schedule-row
        h6.h График доставки по Московской области
        .items
          -
            var array = [
              {d: 'Понедельник'},
              {d: 'Вторник'},
              {d: 'Среда'},
              {d: 'Четверг'},
              {d: 'Пятница'},
            ]
          each i in array
            .item-col
              .title= i.d
              -
                var array2 = [
                  {s: 'Абрамцево	'},
                  {s: 'Барвиха	'},
                  {s: 'Апрелевка	'},
                  {s: 'Знамя Октября	'},
                  {s: 'Вешки '},
                  {s: 'Мытищ. р-он'},
                  {s: 'Балабаново	'},
                  {s: 'Вороново'},
                  {s: 'Балашиха	'},
                  {s: 'Ивантеевка	'},
                  {s: 'Видное'},
                  {s: 'Большие '},
                  {s: 'Вяземы'},
                  {s: 'Горки 10'},
                  {s: 'Биокомбинат	'},
                  {s: 'Княжичи	'},
                  {s: 'Волоколамск'},
                  {s: 'Вербилки'},
                  {s: 'Горки 2'},
                  {s: 'Быково	'},
                ]
              each i2 in array2
                .item
                  a(href="#")= i2.s

      .delivery-schedule-row
        h6.h График доставки в регионы:
        .items
          -
            var array = [
              {d: 'Понедельник'},
              {d: 'Вторник'},
              {d: 'Среда'},
              {d: 'Четверг'},
              {d: 'Пятница'},
            ]
          each i in array
            .item-col
              .title= i.d
              -
                var array2 = [
                  {s: 'Абрамцево	'},
                  {s: 'Барвиха	'},
                  {s: 'Апрелевка	'},
                  {s: 'Знамя Октября	'},
                  {s: 'Вешки '},
                ]
              each i2 in array2
                .item
                  a(href="#")= i2.s



