extends templates/layout.pug

block vars
  - 
    var 
      title = 'Для Поставщиков',
      logged = true; 

block content 
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span Для Поставщиков
        .order-total-info
          span Текущий заказ:
          strong 105 924  ₽
          a(href="#") оформить 
      .heading-block
        h1.h.h4 Для Поставщиков
      .post-content
        .heading-block
          h2.h.h5.uppercase Мы приветствуем Вас, уважаемые партнеры и тех, кто хочет ими стать!
        .text-t2 Мы рассматриваем сотрудничество с поставщиками и партнерами как одно из основных направлений развития компании. Наше сотрудничество с поставщиками основывается на следующих базовых принципах:
        ul
          li - создание долгосрочных партнерских отношений
          li - прозрачность и взаимное доверие
          li - совместные усилия по продвижению
          li - взаимная ответственность за достижение поставленных целей и высочайшие результаты.
        .text-t2 Что мы даем:
        ul
          li - логистику в 30 регионах России и более чем в 8000 салонов красоты
          li - менеджерское обслуживание каждого работающего клиента
          li - транслирование общей стратегии развития бренда поставщика
          li - электронный документооборот с клиентами
          li - своевременную и отвечающую требованиям поставщика отчетность.
        .text-t2 На что мы смотрим в первую очередь:
        ul
          li - лидеры рынков
          li - нишевые (уникальные) продукты
          li - работа напрямую с производителем
          li - наличие бюджета на продвижение продукции
          li - конкурентные преимущества продукта, в том числе и ценовые
          li - безусловное и постоянное качество продукции
          li - наличие стратегии развития бренда и четкой маркетинговой политики
          li - возможность производства либо импорта марки под собственным именем, private label
          li - возможность предоставления эксклюзивных контрактов на территориях
          li Сталкер-Консалтинг всегда открыт для сотрудничества с новыми партнерами.
          li Нам интересно делать работу, которую нам доверяют.
    .contacts-bottom-container.gray-container
      .container
        .row
          .col
            .heading-block
              h1.h.h4 Мы ждем Ваших предложений.
          .col-12.col-sm-7.col-md-8
            .contact-block
              strong Отдел закупок
            .contact-block
              strong Тел.: 
              a(href="tel: +74957390780") 7 (495) 739 07 80
              |  доб. 227
            .contact-block
              strong Факс: 
              a(href="tel: +74957393910") 7 (495) 739 39 10
            .contact-block
              strong Написать письмо: 
                a(href="#") info-stalker@mirlk.ru

