extends templates/layout.pug

block vars
  - 
    var 
      title = 'Результаты поиска',
      logged = true; 

block content 
  main.main-container
    .container
      .page-top
        .breadcrumbs
          a(href="#") Главная
          span.sep >
          span Результаты поиска
        .order-total-info
          span Текущий заказ:
          strong 105 924  ₽
          a(href="#") оформить 
      .heading-block
        h1.h.h4 Результаты поиска
      .empty-search-message
        p К сожалению ваш запрос не дал результатов :(
      .heading-block
        h5.h Возможно вас заинтересуют
      .catalog-carousel.swiper-container
        .prev.base-icon-prev
        .next.base-icon-next
        .swiper-wrapper
          - n = 0;
          while n < 16
            - n++;
            .catalog-item.swiper-slide
              .wrap
                .sku AS40100
                .image
                  a(href="#")
                    img(src="images/prod-thumb.jpg" alt="Лак стойкой фиксации с эффектом памяти \"Strong Touch\" 490")
                a(href="#").name Лак стойкой фиксации с эффектом памяти "Strong Touch" 490
                .stock 1 280 шт.
                .stickers
                  .s-item.sale Уценка
                  .s-item.new NEW
                  .s-item.percent %
                .cart-d
                  .quantity-block
                    .b.minus.base-icon-minus
                    input.input(type="number" value="0" min="0" max="10")
                    .b.plus.base-icon-plus
                  .price-block
                    .price 1 834 ₽
                    .sub-price 0 ₽
                .price-details
                  .pd-item
                    .label Розница
                    .price
                      .old 2 534
                      span 1 834 ₽
                  .pd-item
                    .label Опт (от 3)
                    .price
                      .old 1 834
                      span 1 650 ₽
                  .pd-item
                    .label Специалистам
                    .price
                      a(href="#") Узнать

