svg.hide(viewBox='0 0 0 0', xmlns='http://www.w3.org/2000/svg')
  symbol#next-2(fill='none', viewBox='0 0 15 25', xmlns='http://www.w3.org/2000/svg')
    path(d='M3 3l9 9.5L3 22', stroke='#2051C8', stroke-linecap='round', stroke-linejoin='round', stroke-width='6')
  symbol#next(fill='none', viewBox='0 0 13 23', xmlns='http://www.w3.org/2000/svg')
    path(d='M2 2l9 9.5L2 21', stroke='#2051C8', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
  symbol#prev-2(fill='none', viewBox='0 0 15 25', xmlns='http://www.w3.org/2000/svg')
    path(d='m12 3l-9 9.5 9 9.5', stroke='#2051C8', stroke-linecap='round', stroke-linejoin='round', stroke-width='6')
  symbol#prev(fill='none', viewBox='0 0 13 23', xmlns='http://www.w3.org/2000/svg')
    path(d='m11 2l-9 9.5 9 9.5', stroke='#2051C8', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
